<!DOCTYPE HTML>

<html>
    <head>
        <title>Add post</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div><h1>{{info}}</h1></div>

        <div>
            <form method="post">
                <input type="text" name="text" placeholder="Enter message"/>
                <input type="text" name="tag" placeholder="Tag"/>
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
</html>