<!DOCTYPE HTML>

<html>
    <head>
        <title>Start</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div><h1>{{info}}</h1></div>

        <h3><a href="tape">tape page</a></h3>
    </body>
</html>