<!DOCTYPE HTML>

<html>
    <head>
        <title>Tape</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div><h1>{{info}}</h1></div>
    </body>
</html>