<!DOCTYPE HTML>

<html>
    <head>
        <title>Tape</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>
        </div>

        <div><h2>Tape page</h2></div>

        <h4><a href="addPost">Add new post</a></h4>

        <!-- filter -->
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="Enter tag">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Find</button>
        </form>

        {{#posts}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
                <strong>{{authorName}}</strong>
            </div>
        {{/posts}}
    </body>
</html>